.container {
    margin: 20px;
    padding: 20px;
    height: 80%;
    background-color: white;
    border-radius: 5px;
}

.container h2 {
    font-weight: normal;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}