.company-button {
    padding: 10px;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: #2188FF;
    width: auto;
    height: 24px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}